<div id="LoginForm">
  <div class="container">
      <!-- <h1 class="form-heading">login Form</h1> -->
      <div class="login-form">
        <template v-if="state == 'LOGIN'">
          <div class="main-div">
              <div class="panel">
                  <h2>Login</h2>
                  <p>Please enter your email and password</p>
                  <div v-if="loginMsg" class="alert alert-danger v-fade" role="alert" v-text="loginMsg"></div>
                  <div v-if="msg" class="alert alert-danger v-fade" role="alert" v-text="msg"></div>
              </div>
              <form id="Login">
                  <div class="form-group">
                      <!-- <input type="email" class="form-control" id="inputEmail" placeholder="Email Address"> -->
                      <input type="email" class="form-control" v-model="user.username" placeholder="Username">
                  </div>
                  <div class="form-group">
                      <!-- <input type="password" class="form-control" id="inputPassword" placeholder="Password"> -->
                      <input type="password" class="form-control" v-model="user.password" placeholder="Password">
                  </div>
                  <!-- <div class="forgot">
                      <a href="reset.html">Forgot password?</a>
                  </div> -->
                  <button class="btn btn-primary" @click="login">Login</button>
                  <a href="" @click="showSignUp">Not a member? Sign up</a>
              </form>
          </div>
        </template>
        <template v-if="state == 'SIGNUP'">
          <div class="main-div">
              <div class="panel">
                  <h2>Sign Up</h2>
                  <p>Please enter your email and password</p>
                  <div v-show="signupMsg" class="alert alert-danger v-fade" role="alert" v-text="signupMsg">
                  </div>
              </div>
              <form id="Login">
                  <div class="form-group">
                      <!-- <input type="email" class="form-control" id="inputEmail" placeholder="Email Address"> -->
                      <input type="email" class="form-control" v-model="user.username" placeholder="Username">
                  </div>
                  <div class="form-group">
                      <!-- <input type="email" class="form-control" id="inputEmail" placeholder="Email Address"> -->
                      <input type="name" class="form-control" v-model="user.email" placeholder="Email">
                  </div>
                  <div class="form-group">
                      <!-- <input type="password" class="form-control" id="inputPassword" placeholder="Password"> -->
                      <input type="password" class="form-control" v-model="user.password" placeholder="Password">
                  </div>
                  <!-- <div class="forgot">
                      <a href="reset.html">Forgot password?</a>
                  </div> -->
                  <button class="btn btn-primary" @click="signUp">Sign up</button>
                  <a href="" @click="showLogin">Existing user? login</a>
              </form>
          </div>
        </template>
        <template v-if="state == 'LOGGEDIN'">

          <div class="panel">
              <h2>You are logged in </h2>
              <p>Click logout to logout</p>
          </div>
          <form id="Login">
            <div class="form-group">
              <button class="btn btn-primary" @click="logout">Logout</button>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" @click="deleteAcc">Delete account</button>
            </div>
          </form>
        </template>
        <p class="botto-text"> Design credit: Sunil Rajput</p>
      </div>
  </div>
  <!-- <pre>\{{$data}}</pre> -->
</div>

<script type="text/javascript">
  var vm = new Vue({
    el: '#LoginForm',
    data: {
        state: 'LOGIN',      // LOGIN or SIGNUP or LOGGEDIN
        user: {
          email: '',
          password: '',
          username: ''
        },
        loginMsg: '',
        signupMsg: '',
        msg: '',
    },
    mounted () {
      let keys = this.$cookies.keys()  // return a array
      if (this.$cookies.get('auth_token')) {
        this.state = 'LOGGEDIN'
      }
    },
    methods: {
      showSignUp (e) {
        e.preventDefault()
        this.state = 'SIGNUP'
      },
      showLogin (e) {
        e.preventDefault()
        this.state = 'LOGIN'
      },
      login (e) {
        this.msg = ''
        this.loginMsg = ''
        e.preventDefault()
        $.ajax('/login', {
          method: 'POST',
          data: this.user
        }).then(({ user, authToken }) => {
          $.cookie('auth_token', authToken.token, { expires: 7 });
          window.location.reload()
        }).fail((err) => {
          this.loginMsg = err.responseText
        })
      },
      logout (e) {
        this.msg = ''
        e.preventDefault()
        $.ajax('/logout', {
          method: 'DELETE',
          data: {}
        }).then( (result) => {
          this.state = 'LOGIN'
          this.msg = result.msg
          $.removeCookie('auth_token');
        }).fail( (err) => {
          $.removeCookie('auth_token');
          this.msg = 'Logged Out'
          this.state = 'LOGIN'
        })
      },
      signUp (e) {
        e.preventDefault()
        this.signupMsg = ''
        $.ajax('/register', {
          method: 'POST',
          data: this.user
        }).then( (result) => {
          window.location = '/verification-sent'
        }).fail((err) => {
          this.signupMsg = err.responseJSON.msg
          console.error('Check if server are able to send email. Also check .env file for EMAIL_USER, EMAIL_PASSWORD')
        })
      },
      deleteAcc (e) {
        e.preventDefault()
        $.ajax('/delete_account', {
          method: 'DELETE',
          data: this.user
        }).then( (result) => {
          $.removeCookie('auth_token');
          this.state = 'LOGIN'
          this.msg = result.msg
        }).fail( (err) => {

        })
      }
    }
  })
</script>
